<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..5, step: 1, class: 'form-control', id: 'review_rating', placeholder: 'Rating (0-5)' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="actions mt-3">
    <%= form.submit 'Create Review', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(document).on('input', '#review_rating', function() {
    if (this.value > 5) {
      this.value = 5;
    }
  });
</script>
